<!doctype html>
<html>
  <head>
     <link rel="stylesheet" href="./style.css" type="text/css">
     <script src="../js/angular/angular.min.js"></script>
  </head>
  <body>
    <div data-ng-app="app" data-ng-controller="MainController" data-ng-cloak>
      <div id="mainPopup">
        <div id="text">
          <h1>Image search</h1>
          <form data-ng-submit="search()">
            <span><input id="input" type="text" data-ng-model="querry"/></span>
          </form>
          <div id="link" data-ng-show="flag">{{link}}</div>
          <div data-ng-show="flag" id="buttons">
            <button data-ng-click="previous()">previous</button>
            <button data-ng-click="next()">next</button>
          </div>
          <p>{{errors}}</p>
        </div>
         <img id="spinner" data-ng-show="!flag" src="../icons/spiffygif_88x88.gif" alt="spinner"/>
         <img data-ng-show="flag" data-ng-src="{{link}}" alt="{{link}}"/>
      </div>
    </div>
  </body>
  <script src="./app.js"></script>
</html>